/* RULES */

img{
    width: 100%;
}

body{
    font-family: Arial, sans-serif;
}

header{
    z-index: 2;
    top: 0;
    left: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    position: fixed;
    width: 100%;
    font-weight: 600;
}

ul{
    list-style-type: none;
    display: flex;
    margin: 10px;
}

a{
    text-decoration: none;
    color: #000;
}

.btn{
    border: 1px solid none;
    border-radius: 50px;
    background-color: #363636;
    border: none;
}

.white{
    color: white;
}

.grey{
 color: grey;
}

.blue-btn{
    background-color: #2d64e6;
}

.blue-btn:hover{
    background-color: #2b4fa3
}


/* END RULES */

/* START HEADER */
.sony-header{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: auto;
    background-color: black;
    text-align: right;
    padding: 10px 0;
    
}
.sony-header img{
    height: 20px;
    margin-right: 20px;
}

i{
    vertical-align: middle;
    padding-left: 3px;
    color:#999999;
}

/* NAVBAR */

header .container-fluid .row .col-8 ul,
header .container-fluid .row .col-4 ul{
    display: flex;
    line-height: 50px;  
}

header .container-fluid .row .col-8 ul li,
header .container-fluid .row .col-4 ul li{
    padding: 0 10px;
}
header .container-fluid .row .col-4 ul{
    justify-content: flex-end;
}
header .container-fluid .row .col-8 ul{
    justify-content: flex-start;
    padding-left: 0;
}

.container-fluid{
    background-color: white;
}

header .container-fluid .row .col-4 ul li a img{
    height: 30px;
    color: #363636;
}

.burger{
    text-align: right; 
    color: #858686;
}

.burger i{
    padding: 5px 10px;
    border: 1px solid #858686;
    border-radius: 3px;
}

/* MAIN */
main{
    margin-top: 90px;
}
.jumbo{
    position: relative;
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.jumbo-img{
    width: 270px;
    margin-bottom: 40px;
}
#titolo-jumbo{
    font-size: 35px;
    font-weight: bold;
    color: white;
    margin-bottom: 40px;
}
.p-jumbo{
    font-weight: bold;
    color: white;
    margin-bottom: 40px;
}
.buy-now{
    color: white;
    background-color: orangered;
    border-radius: 50px;
    text-decoration: none;
}
.buy-now a{
    color: white;
    background-color: orangered;
    border-radius: 50px;
    text-decoration: none;
}
.content-jumbo{
    padding-top: 350px;
    padding-bottom: 30px;
}
/* lista giochi main */

.img-list-container img{
    border-radius: 20px;
    margin-bottom: 20px;
}
.box-row{
    padding-top: 30px;
}

/* playstation testo */
.box-play-text{
    text-align: center;
    margin-top: 100px;
}
.box-play-text :first-child{
    font-weight: bold;
    color: #0072ce;
}
.box-play-text h2{
    font-size: 45px;
    margin-bottom: 20px;
}
.box-play-text :last-child{
    font-size: 20px;
    font-weight: bold;
}
/* testo 2 */
.row-distance{
    margin-top: 100px;
}
.box-play-text-2{
    margin-top: 100px;
}
.box-play-text-2 h2{
    font-size: 45px;
    margin-bottom: 20px;
    display: inline;
}
.box-play-text-2 span{
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}
.bottone{
    margin-top: 30px;
    border-radius: 30px;
}

/* list tools ps5 */
.selected-ps{
    border-bottom: 3px solid #0072ce;
}
#tools-ps .col-4 .selected-ps{
    padding-bottom: 25px;
}
#tools-ps span{
    font-weight: bold;
}
#tools-ps{
    text-align: center;
}
.opacity-img{
    opacity: 0.7;
}

/* it takes 2 */

.takestwojumbo{
    position: relative;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 40px;
}

.content-takestwo{
    padding: 40px 0;
}

.jumbo-img img{
    margin-top: 40px;
}

.takestwo-info h2{
    color: white;
    font-size: 45px;
    margin-bottom: 20px;
}

/* Nuove uscite */  

.new-reveals{
    background-color: #1f1f1f;
    padding: 50px 0;
}

.img-box img{
    border-radius: 30px;
}

.img-box p{
    margin-top: 5px;
    color: white;
    font-size: 18px;
    margin-bottom: 50px;
}

/* esplora ps4 */

.explore-ps4{
    padding: 80px 0;
}

.col-12 h2{
    font-size: 45px;
}

.col-12 p{
    font-size: 25px;
    margin-top: 25px;
}

.content-explore h4{
    font-size: 30px;
}

.content-explore p{
    font-size: 20px;
    color: grey;
}

/* playstation plus */

.playstation-plus{
    background-color: #bebcbb;
}

.content-psplus a{
    background-color: #d9dadc;
    color: #0072ce; 
    margin: 40px 0 20px 0;
}

.content-psplus img{
    margin: 100px 0 40px 0;
    width: 60%;
}

.content-psplus p{
    font-size: 15px;
}

/* conti playstore */

.sconti-playstore{
    margin-bottom: 70px;
}

.content-sconti{
    margin: 80px 0;
}

.sconti-playstore .container .row div img{
    margin-bottom: 10px;
}

/* playstation Now */

.playstation-now{
    background-color: #161c3b;
}

.playstation-now img{
    margin: 25% 0 20px 0;
    width: 60%;
}

@media screen and (max-width: 768px){
    .playstation-now img{
        margin: 5% 0 20px 0;
    }
}

.content-now p{
    font-size: 15px;
}

.content-now a{
    background-color: #f5f5f5;
    color: #000000; 
    margin: 10px 0 20px 0;
}

.content-now-img img{
    width: 100%;
    margin-top: 0;
}