/* RULES */

img{
    max-width: 100%;
}

body{
    font-family: Arial, sans-serif;
    background-color: aquamarine;
}

header{
    font-family: Helvetica, Arial, sans-serif;
}

ul{
    list-style-type: none;
    display: flex;
}

a{
    text-decoration: none;
    color: #000;
}

.btn{
    border: 1px solid none;
    border-radius: 50px;
    background-color: #363636;
}

/* END RULES */

/* START HEADER */
.sony-header{
    width: 100%;
    margin: auto;
    background-color: black;
    text-align: right;
    padding: 10px 0;
    
}
.sony-header img{
    height: 20px;
    width: auto;
    margin-right: 1%;
}

/* NAVBAR */

header .navbar-container .row .col-8 ul,
header .navbar-container .row .col-4 ul{
    display: flex;
    line-height: 50px;  
}

header .navbar-container .row .col-8 ul li,
header .navbar-container .row .col-4 ul li{
    padding: 0 10px;
}
header .navbar-container .row .col-4 ul{
    justify-content: flex-end;
}
.navbar-container{
    background-color: white;
}
header .navbar-container .row .col-4 ul li a img{
    height: 30px;
    color: #363636;
}
/* END NAVBAR */

/* END HEADER */